.home-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.home-head {
    display: flex;
}

.home-head h2 {
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    background-image: linear-gradient(10deg, #fff 10%, #FF9A02 90%);
    background-clip: text;
    color: transparent;
    filter: drop-shadow(2.2px 6.6px 1px rgba(0, 0, 0, 0.3))
}


.categories-container {
    margin-top: 7rem;
}

.categories-container li {
    list-style: none;
}

.btn-cat-novo {
    background-color: black;
    color: white;
    height: 5.3rem;
    font-size: 2.5rem;
    padding: 0 3.563rem;
    cursor: pointer;
    text-align: center;
    font-family: "Inter", sans-serif;
    border: none;
}

.plus {
    font-size: 4rem;
    font-weight: 200;
}


@media(max-width: 790px) {
    .home-container {
        margin-top: 5rem;
    }

    .home-head h2 {
        font-size: 1.7rem;
    }

    .categories-container {
        margin-top: 2rem;
    }

    .btn-cat-novo {
        height: 3rem;
        font-size: 1.4rem;
        padding: 0 1rem;
    }

    .plus {
        font-size: 2rem;
    }
}