.winner-container {
    text-align: center;
}

.winner-container-title {
    font-size: 4rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: black;
    text-shadow: -0.1rem -0.1rem 0 #00c999, 0.1rem -0.1rem 0 #00c999, -0.1rem 0.1rem 0 #00c999, 0.1rem 0.1rem 0 #00c999;
    margin-top: 108px;
    margin-bottom: 110px;
}

.winner-container-falta {
    font-family: "Istok Web", sans-serif;
    font-size: 3rem;
    font-style: italic;
    color: #b9b9b9;
    margin-top: 108px;
}

.premiacao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.premiacao-falta {
    font-family: "Istok Web", sans-serif;
    font-size: 2rem;
    color: #b9b9b9;
}

@media(max-width: 790px) {

    .winner-container-title {
        font-size: 2rem;
        font-weight: 700;
        text-shadow: -0.1rem -0.1rem 0 #00c999, 0.1rem -0.1rem 0 #00c999, -0.1rem 0.1rem 0 #00c999, 0.1rem 0.1rem 0 #00c999;
        margin-top: 15vh;
        margin-bottom: 15px;
    }
    
    .winner-container-falta {
        font-size: 2rem;
        margin-top: 20vh;
    }

}