.stripe {
    width: 100%;
    height: 5.3rem;
    background-color: black;
    color: #F46700;
    display: flex;
    align-items: center;
    margin: 0.3rem 0;
}

.cat-title {
    display: flex;
    left: 0;
    margin-left: 3.563rem;
    margin-right: 0.813rem;
    width: 100%;
    justify-content: space-between;
}

.cat-title h3 {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.cat-title input {
    background: none;
    border: none;
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #F46700;
    margin: 0;
    width: 92%;
}

.cat-title input::placeholder {
    color: #f4660093;
}


.cat-edit, .cat-move{
    width: 52px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cat-move {
    width: 54px;
}

.link-edit {
    height: 50%;
    width: 100%;
    margin: 0;
}

.btn-up, .btn-down, .btn-edit, .btn-delete {
    height: 50%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    border: 2px solid #F46700;
    background-color: rgba(196, 69, 69, 0.0);
}

.btn-edit {
    height: 100%;
}



.btn-up svg, .btn-down svg, .btn-edit svg, .btn-delete svg {
    color: #D9D9D9;
    font-size: 2rem;
}

.btn-edit svg, .btn-delete svg {
    font-size: 1.3rem;
}