.mouse-window-container {
    padding: 15px 27px;
    width: 300px;
    height: 250px;
    background-color: #d9d9d9;
    border: 2px solid #fff;
    border-radius: 8px;
    overflow-y: auto;
}

.mouse-window-container p {
    font-size: 1.4rem;
    font-family: "Istok Web", sans-serif;
    color: #292929;
    font-style: italic;
}

.mouse-window-list {
    list-style: none;
}

.mouse-window-container li button {
    font-size: 1.4rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0;
    width: 100%;
    padding: 5px;
}

.mouse-window-container li button:hover, .mouse-window-novo-btn:hover {
    background-color: #00000062;
}

.absolute {
    position: absolute;
}

.mouse-window-novo-btn {
    font-size: 1.4rem;
    font-family: "Istok Web", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}

@media(max-width: 790px) {
    .mouse-window-container {
        padding: 6px 12px;
    }

    .mouse-window-container p {
        font-size: 1rem;
    }

    .mouse-window-container li button, .mouse-window-novo-btn {
        font-size: 1.2rem;
    }

}