.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    display: flex;
    z-index: 3;
}

.menu-bar {
    display: flex;
    list-style: none;
    margin-left: 10vw;
}

.file-bar{
    display: flex;
    list-style: none;
    margin-left: 10vw;
}

.file-bar li {
    margin: 0.6rem 3rem 0.6rem 0;
    color: #fff;
}

.menu-bar li {
    margin: 0.6rem 3rem 0.6rem 0;
}

.menu-bar li a {
    color: #fff;
    display: block;
    position: relative;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #fff;
}

.save-btn{
    cursor: pointer;
}

input[type="file"] {
display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: white;
}



@media(max-width: 790px) {
    .navbar {
        justify-content: center;
        font-size: 0.8rem;
    }

    .menu-bar, .file-bar {
        margin: 0;
        justify-content: space-around;
    }

    .save-btn span, .custom-file-upload span {
        display: none;
    }

    .file-bar li, .menu-bar li {
        margin: 0.6rem 3vw;
        color: #fff;
    }
    

}