* {
  margin: 0 auto;
  padding: 0;
  max-width: 1337px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  background-color: #3E5F66;
}